*{
  margin: 0;
  font-family: 'open sans', sans-serif;
}

.header-section{
  background: rgba(255, 144, 14, 0.1);

}
               /* header */
 .header{
  display: flex;
  justify-content: space-between;
  margin: 50px 230px;
 }
 

.header-title{
  width: 302px;
  height: 53px;
  font-weight: 700;
  text-align: center;
  }

  .nav ul{
    display: flex;

  }
.nav li{
 list-style: none;
 margin-left: 50px;
}

             /* Body */
             
 .body{
  
  margin-left: 450px;
  margin-right: 400px;
  
 }
 .body-title{
font-size: 45px;
text-align: center;
margin-left: 80px;
margin-right: 70px;
 }
 .body-p{
  color: #727272;
  text-align: center;
 }
 .btn{
  width: 120px;
  height: 40px;
  margin-top: 25px;
  margin-left: 185px;
  background-color: #fd6e0a;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  border-style: hidden;
 }

 .banner{
  margin-left: 260px;
  margin-right: 260px;
  margin-top: 40px;

 }

 /* sub banner */
.sub-banner{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 260px;
  margin-right: px;
}
.sub-banner-text{
  margin-top: 180px;
  margin-right: 85px;
  margin-left: 0px;
}
.sub-banner-btn{
  width: 120px;
  height: 40px;
  margin-top: 25px;
  background-color: #fd6e0a;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  border-style: hidden;
}
.s-1{
  color: #727272
  ;
}
.s-2{
  color: #fd6e0a;
}

   /*  */