*{
  margin: 0;
  font-family: 'open sans', sans-serif;
}

.header-section{
  background: rgba(255, 144, 14, 0.1);

}
               /* header */
 .header{
  display: flex;
  justify-content: space-between;
  margin: 50px 230px;
 }
 

.header-title{
  width: 302px;
  height: 53px;
  font-weight: 700;
  text-align: center;
  }

  .nav ul{
    display: flex;

  }
.nav li{
 list-style: none;
 margin-left: 50px;
}

             /* Body */
             
 .body{
  
  margin-left: 450px;
  margin-right: 400px;
  
 }
 .body-title{
font-size: 45px;
text-align: center;
margin-left: 80px;
margin-right: 70px;
 }
 .body-p{
  color: #727272;
  text-align: center;
 }
 .btn{
  width: 120px;
  height: 40px;
  margin-top: 25px;
  margin-left: 185px;
  background-color: #fd6e0a;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  border-style: hidden;
 }

 .banner{
  margin-left: 260px;
  margin-right: 260px;
  margin-top: 40px;

 }

 /* sub banner */
.sub-banner{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 260px;
  margin-right: px;
}
.sub-banner-text{
  margin-top: 150px;
  margin-right: 85px;
  margin-left: 0px;
  color: #727272

}
.sub-banner-btn{
  width: 120px;
  height: 40px;
  margin-top: 15px;
  background-color: #fd6e0a;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  border-style: hidden;
}
.s-1{
  color: #727272
  ;
}
.s-2{
  color: #fd6e0a;
}

   /* sub banner 2 */
   .sub-banner-2{
    display: flex;
    margin-top: 80px;
    margin-left: 250px;
    margin-right: 250px;
    justify-content: space-between;
    text-align: left;
    background-color: #fdfdfd;

   }
   .dmv{
    width: 460px;
    height: 111px;
    margin-top: 25px;
    margin-left: 30px;
    text-shadow: 5px;
    color: #727272;
    background: #fffcfc;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 5px;

   }
   .ddb{
    width: 460px;
    height: 111px;
    margin-top: 25px;
    margin-left: 30px;
    text-shadow: 5px;
    color: #727272;
    background: #fffcfc;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
   }

  .amd{
    width: 460px;
    height: 111px;
    margin-top: 25px;
    margin-left: 30px;
    text-shadow: 5px;
    color: #727272;
    background: #fffcfc;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
  }

  .sete{
    width: 460px;
    height: 111px;
    margin-top: 25px;
    margin-left: 30px;
    text-shadow: 5px;
    color: #727272;
    background: #fffcfc; 
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 5px;

  }
  .sbthc{
    color: black;
  }
  /* pic div */

  .pic-div{
    width: 120px;
    height: 60px;
    text-align: center;
    margin-left: 700px;
    
    background: #FF900E;
    border-radius: 8px;
    color: #fdfdfd;
    font-weight: 700;

  }

  .ex{
    font-size: x-large;
  }
/* some  */
.some{
  margin-top: 80px;
  font-weight: 700;
  margin-left: 270px;
}
.some-text{
  margin-left: 270px;
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
}

/* Award  */
.work{

}

.work{
  display: flex;
  justify-content: space-around;
border-radius: 8px;
margin-left: 195px;
margin-right: 70px;
margin-top: 60px;
}
.award{
  box-sizing: border-box;
  border: 1px solid #FF900E;
  border-radius: 8px;
  text-align: center;
}
/* Sponsors */
.sponsors{
  margin-top: 80px;
  margin-left: 550px;
  margin-right: 350px;
  text-align: center;

}
.sponsors-text{
  margin-top: 15px;
}
.sponsors-pic{
  display: flex;
  justify-content: space-around;
  margin-left: 180px;
  margin-right: 80px;
  margin-top: 50px;
}
.footer{
  margin-top: 50px;
  margin-left: 180px;
  margin-right: 280px;
  width: 1060px;
  height: 20px;
  background: #FFF4E7;
  border-radius: 8px;
  text-align: center;
  padding-top: 15px;
}
/* media Quaries  */
/* mobile devices */
@media only screen and (max-width:688px) {
.header{
  margin-left: -50px;
  display:grid
}
.body-title{
  margin: 0;
  margin-left: -460px;
}
.banner{
  margin-left: -250px;
}
}
  